* {
  box-sizing: border-box;
  --cor-fundo-tela: #E5E5E5;
  --cor-fundo-header: #C3CFD9;
  --cor-fundo-footer: #DFE6ED;
  --cor-laranja: #E8833A; 
  --cor-azul: #247A6B;
  --cor-preta: #293845;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--cor-fundo-tela);
  color: var(--cor-preta);
}

